<h2>Talk!</h2>
<div id="chat-box">
  <%= for message <- @messages do %>
    <p><b><%= message.name %>:</b> <%= message.body %></p>
  <% end %>
</div>

<form id="chat-form">
  <input type="text" placeholder="Username" id="user-name">
  <textarea placeholder="Your message" id="user-msg"></textarea>
  <div id = "empty-text" style = "color: red"></div>
  <button type="submit">Post</button>

</form>
